{% import "bootstrap/wtf.html" as wtf %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!DOCTYPE html>
<html>
<title>Users</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('.static', filename='table.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='form.css')}}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
{% if  editmode %}
<body onload="editingmode()", class="w3-light-grey w3-content" style="max-width:1600px">
{%else%}
<body onload="loading()", class="w3-light-grey w3-content" style="max-width:1600px">
{%endif%}

<!-- Sidebar/menu -->
{% include 'sidebar.html' %}
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
{% include 'header.html' %}



<div class="w3-row-padding" id="all">
    
    <div class="table-responsive">
        <table class="styled-table">
        <thead>
             <tr>
                 <th>Name</th>
                 <th>Surname</th>
                 <th>Email</th>
                 <th>Gender</th>
                 <th>Country</th>
                 <th>Phone number</th>
                 <th>Salary</th>
                 <th>Delete</th>
             </tr>
        </thead>
            {% 
                for record in users
                    
            %}

                <tr>
                    <td>
                        {{record.name}}
                    </td>
                    <td>
                        {{record.surname}}
                    </td>
                    <td>
                        {{record.email}}
                    </td>
                    <td>
                        {{record.sex}}
                    </td>
                    <td>
                        {{record.cname}}
                    </td>
                    <td>
                        {{record.phone}}
                    </td>
                    <td>
                        {{record.salary}}$
                    </td>
                    <td>
                        <form action="/users/delete/{{record.email}}" method="POST">
                            <button type="submit" name="delete">Delete</button>
                        </form>
                    </td>

                </tr>
            {% endfor %}
        </table>

      </div>
  </div>


</body>
{% include 'footer.html' %}
</html>