{% import "bootstrap/wtf.html" as wtf %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<!DOCTYPE html>
<html>
<title>Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('.static', filename='table.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='form.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='profile.css')}}">


<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body onload="preview_open()" class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
{% include 'sidebar.html' %}

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  {% include 'header.html' %}

  
  <!-- First Photo Grid-->

  {% if moderator==true %}
  <div class="w3-center w3-padding-32">
  <div class="formbg-outer">
    <div class="formbg">
      <div class="formbg-inner padding-horizontal--48">
  <p> Welcome to Moderator page!</p> 
  <b>Permissions:</b><br>
  <ul> 
    <li>
      Track and Delete Unknown Users
    </li>
    <li>
      Add, delete and modify Countries
    </li>
    <li>
      Delete Diseases
    </li>
    <li>
      Add, delete and modify Disease Types
    </li>
  </ul>
</div>
   
  </div>
</div>
</div>
  {% else %}
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
  
     <button class="w3-button w3-white" id="previewbutton" onclick="preview_open()">Preview</button>
     
     <button class="w3-button w3-white" id ="editbutton" onclick="edit_open()">Edit</button>

    </div>
  </div>
  
  <div class="formbg-outer" id = "edit">
    
    <div class="formbg">
      <div class="formbg-inner padding-horizontal--48">
        
        <span class="padding-bottom--15">Update Profile</span>
        <form method="POST" action="/updateprofile" id="stripe-login">
          <div class="field padding-bottom--24">
            {{ wtf.form_field(form.name) }}
          </div>
          <div class="field padding-bottom--24">
            {{ wtf.form_field(form.surname) }}
          </div>
          <div class="field padding-bottom--24">
            {{ wtf.form_field(form.sex) }}
          </div>
          <div class="field padding-bottom--24">
            {{ wtf.form_field(form.cname) }}
          </div>
          <div class="field padding-bottom--24">
            {{ wtf.form_field(form.phone) }}
          </div>

          <div class="field padding-bottom--24">
            <input type="submit" name="submit" value="Update">
          </div>
        </form>
        <form method="POST" action="/deleteaccount/{{current_user.email}}" id="stripe-login">
          <div class="field padding-bottom--24">
            <input type="submit" name="submit" value="Delete Account">
          </div>
        </form>
      </div>
    </div>

  </div>



  <div class="container emp-profile" id = "preview">
    
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                  {%if current_user.sex=="M"%}
                  <img src="/static/usermale.jpg" style="width:45%;" class="w3-round"><br><br>
                  {%elif current_user.sex=="F"%}
                  <img src="/static/userfemale.jpg" style="width:45%;" class="w3-round"><br><br>
                  {%else%}
                  <img src="/static/user.jpg" style="width:45%;" class="w3-round"><br><br>
                  {%endif%}
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{current_user.name}} {{current_user.surname}}
                            </h5>
                            <h6>
                                {% if doctorcheck == true%}
                                Doctor
                                {%elif servantcheck == true%}
                                Public Servant
                                {%else%}
                                User
                                {%endif%}
                            </h6>
                            {% if doctorcheck == true%}
                            <p class="proile-rating">Degree : <span>{{degree}}</span></p>
                            {%endif%}
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Country</p>
                    <div class="col-md-6">
                      <label>{{current_user.cname}}</label>
                    </div>
                    {% if doctorcheck==true %}
                    <p>Specializations</p>
                    <div class="col-md-6">
                      {% for spec in spec_name%}
                      <label>{{spec}}</label>
                      {% endfor %}
                    </div>
                    {%elif servantcheck==true%}
                    <p>Department</p>
                    <div class="col-md-6">
                    <label>{{cur_dept}}</label>
                    </div>
                    {%endif%}
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{current_user.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Surname</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{current_user.surname}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{current_user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                      <label>Gender</label>
                                  </div>
                                  <div class="col-md-6">
                                      {% if current_user.sex == "M" %}
                                      <p>Male</p>
                                      {% elif current_user.sex == "F" %}
                                      <p>Female</p>
                                      {%else%}
                                      <p>Unknown</p>
                                      {%endif%}
                                  </div>
                              </div>
                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{current_user.phone}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Salary</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{current_user.salary}}$</p>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
            
</div>
    {%endif%}

      <br><br>

  




  
  <!-- Footer -->
  {% include 'footer.html' %}

  

<script>
  // Script to open and close sidebar
  
  
  function preview_open() {
      document.getElementById("preview").style.display = "block";
      document.getElementById("edit").style.display = "none";
      document.getElementById("previewbutton").className = "w3-button w3-black";
      document.getElementById("editbutton").className = "w3-button w3-white";

  }
   
  function edit_open() {
      document.getElementById("preview").style.display = "none";
      document.getElementById("edit").style.display = "block";
      document.getElementById("previewbutton").className = "w3-button w3-white";
      document.getElementById("editbutton").className = "w3-button w3-black";
  }

  </script>

</body>
</html>
